<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.CommuKeyvalueSetDaoImpl">

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhiyun.entity.CommuKeyvalueSet">
        INSERT INTO COMMU_KEYVALUE_SET (
        ID,
        KEY_ID,
        KEY_VALUE,
        KEY_DESC,
        REMARK,
        COMPANY_ID,
        DELETED,
        CREATE_TIME,
        MODIFY_TIME,
        CREATE_BY,
        MODIFY_BY
        ) VALUES (
        #{id,jdbcType=BIGINT},
        #{keyId,jdbcType=BIGINT},
        #{keyValue,jdbcType=DOUBLE},
        #{keyDesc,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{companyId,jdbcType=BIGINT},
        #{deleted,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifyTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},
        #{modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_COMMU_KEYVALUE_SET.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhiyun.entity.CommuKeyvalueSet">
        UPDATE COMMU_KEYVALUE_SET
        <set>
            <if test="keyId != null">
                KEY_ID = #{keyId,jdbcType=BIGINT},
            </if>
            <if test="keyValue != null">
                KEY_VALUE = #{keyValue,jdbcType=DOUBLE},
            </if>
            <if test="keyDesc != null">
                KEY_DESC = #{keyDesc,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 更新实体 -->
    <update id="updateFields" parameterType="com.zhiyun.entity.CommuKeyvalueSet">
        UPDATE COMMU_KEYVALUE_SET
        <set>
            KEY_ID = #{keyId,jdbcType=BIGINT},
            KEY_VALUE = #{keyValue,jdbcType=DOUBLE},
            KEY_DESC = #{keyDesc,jdbcType=VARCHAR},
            REMARK = #{remark,jdbcType=VARCHAR},
            COMPANY_ID = #{companyId,jdbcType=BIGINT},
            DELETED = #{deleted,jdbcType=VARCHAR},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{createBy,jdbcType=VARCHAR},
            MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 删除实体 -->
    <update id="delete" parameterType="com.zhiyun.entity.CommuKeyvalueSet">
        UPDATE COMMU_KEYVALUE_SET
        SET DELETED     = #{deleted,jdbcType=VARCHAR},
            MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 查询字段 -->
    <sql id="selectFieldSQL">
        SELECT ID          id,
               KEY_ID      keyId,
               KEY_VALUE   keyValue,
               KEY_DESC    keyDesc,
               REMARK      remark,
               COMPANY_ID  companyId,
               DELETED     deleted,
               CREATE_TIME createTime,
               MODIFY_TIME modifyTime,
               CREATE_BY   createBy,
               MODIFY_BY   modifyBy
    </sql>

    <!-- 查询 -->
    <select id="get" parameterType="map" resultType="com.zhiyun.entity.CommuKeyvalueSet">
        <include refid="selectFieldSQL"/>
        FROM COMMU_KEYVALUE_SET
        WHERE ID = #{id,jdbcType=INTEGER}
        AND DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 查询 -->
    <select id="find" parameterType="com.zhiyun.entity.CommuKeyvalueSet" resultType="com.zhiyun.entity.CommuKeyvalueSet">
        <include refid="selectFieldSQL"/>
        FROM COMMU_KEYVALUE_SET
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="keyId != null">
                AND KEY_ID = #{keyId,jdbcType=BIGINT}
            </if>
            <if test="keyValue != null">
                AND KEY_VALUE = #{keyValue,jdbcType=DOUBLE}
            </if>
            <if test="keyDesc != null and keyDesc != ''">
                AND KEY_DESC = #{keyDesc,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 查询所有 -->
    <select id="findAll" parameterType="map" resultType="com.zhiyun.entity.CommuKeyvalueSet">
        <include refid="selectFieldSQL"/>
        FROM COMMU_KEYVALUE_SET
        WHERE DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询（条件） -->
    <sql id="page_condition">
        <where>
            <if test="entity.keyId != null">
                AND KEY_ID = #{entity.keyId,jdbcType=BIGINT}
            </if>
            <if test="entity.keyValue != null">
                AND KEY_VALUE = #{entity.keyValue,jdbcType=DOUBLE}
            </if>
            <if test="entity.keyDesc != null and entity.keyDesc != ''">
                AND KEY_DESC = #{entity.keyDesc,jdbcType=VARCHAR}
            </if>
            <if test="entity.remark != null and entity.remark != ''">
                AND REMARK = #{entity.remark,jdbcType=VARCHAR}
            </if>
            <if test="entity.companyId != null">
                AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
            </if>
            <if test="entity.deleted != null and entity.deleted != ''">
                AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <!-- 分页查询（计数） -->
    <select id="page_count" parameterType="map" resultType="int">
        SELECT count(*)
        FROM COMMU_KEYVALUE_SET
        <include refid="page_condition"/>
    </select>

    <!-- 分页查询（数据） -->
    <select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.CommuKeyvalueSet">
        <include refid="mybatis.pageStartSQL"/>
        <include refid="selectFieldSQL"/>
        FROM COMMU_KEYVALUE_SET
        <include refid="page_condition"/>
        <include refid="mybatis.pageEndSQL"/>
    </select>

    <!-- Map查询所有 -->
    <select id="findMapListAll" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM COMMU_KEYVALUE_SET
        WHERE DELETED = "F"
    </select>

    <!-- Map条件查询 -->
    <select id="findMapList" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM COMMU_KEYVALUE_SET
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="keyId != null">
                AND KEY_ID = #{keyId,jdbcType=BIGINT}
            </if>
            <if test="keyValue != null">
                AND KEY_VALUE = #{keyValue,jdbcType=DOUBLE}
            </if>
            <if test="keyDesc != null and keyDesc != ''">
                AND KEY_DESC = #{keyDesc,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
            WHERE DELETED = "F"
        </where>
    </select>

    <!-- 插入实体map -->
    <insert id="mapInsert" parameterType="map">
        INSERT INTO COMMU_KEYVALUE_SET (
        ID,
        KEY_ID,
        KEY_VALUE,
        KEY_DESC,
        REMARK,
        COMPANY_ID,
        DELETED,
        CREATE_TIME,
        MODIFY_TIME,
        CREATE_BY,
        MODIFY_BY
        ) VALUES (
        #{ id,jdbcType=BIGINT},
        #{ keyId,jdbcType=BIGINT},
        #{ keyValue,jdbcType=DOUBLE},
        #{ keyDesc,jdbcType=VARCHAR},
        #{ remark,jdbcType=VARCHAR},
        #{ companyId,jdbcType=BIGINT},
        #{ deleted,jdbcType=VARCHAR},
        #{ createTime,jdbcType=TIMESTAMP},
        #{ modifyTime,jdbcType=TIMESTAMP},
        #{ createBy,jdbcType=VARCHAR},
        #{ modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_COMMU_KEYVALUE_SET.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体Map -->
    <update id="mapUpdate" parameterType="map">
        UPDATE COMMU_KEYVALUE_SET
        <set>
            <if test="keyId != null">
                KEY_ID = #{keyId,jdbcType=BIGINT},
            </if>
            <if test="keyValue != null">
                KEY_VALUE = #{keyValue,jdbcType=DOUBLE},
            </if>
            <if test="keyDesc != null">
                KEY_DESC = #{keyDesc,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

</mapper>   
