<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.MathineNetworkWarnRecordDaoImpl">

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhiyun.entity.MathineNetworkWarnRecord">
        INSERT INTO MATHINE_NETWORK_WARN_RECORD (
        ID,
        TASK_ID,
        CAT_NO,
        DEVICE_NO,
        COMMUNICATION_KEY,
        COMMUNICATION_VALUE,
        WARN_TIME,
        COMPANY_ID,
        DELETED,
        CREATE_TIME,
        MODIFY_TIME,
        CREATE_BY,
        MODIFY_BY
        ) VALUES (
        #{id,jdbcType=BIGINT},
        #{taskId,jdbcType=BIGINT},
        #{catNo,jdbcType=VARCHAR},
        #{deviceNo,jdbcType=VARCHAR},
        #{communicationKey,jdbcType=VARCHAR},
        #{communicationValue,jdbcType=DOUBLE},
        #{warnTime,jdbcType=TIMESTAMP},
        #{companyId,jdbcType=BIGINT},
        #{deleted,jdbcType=TINYINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifyTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},
        #{modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_MATHINE_NETWORK_WARN_RECORD.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhiyun.entity.MathineNetworkWarnRecord">
        UPDATE MATHINE_NETWORK_WARN_RECORD
        <set>
            <if test="taskId != null">
                TASK_ID = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="catNo != null">
                CAT_NO = #{catNo,jdbcType=VARCHAR},
            </if>
            <if test="deviceNo != null">
                DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
            </if>
            <if test="communicationKey != null">
                COMMUNICATION_KEY = #{communicationKey,jdbcType=VARCHAR},
            </if>
            <if test="communicationValue != null">
                COMMUNICATION_VALUE = #{communicationValue,jdbcType=DOUBLE},
            </if>
            <if test="warnTime != null">
                WARN_TIME = #{warnTime,jdbcType=TIMESTAMP},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 更新实体 -->
    <update id="updateFields" parameterType="com.zhiyun.entity.MathineNetworkWarnRecord">
        UPDATE MATHINE_NETWORK_WARN_RECORD
        <set>
            TASK_ID = #{taskId,jdbcType=BIGINT},
            CAT_NO = #{catNo,jdbcType=VARCHAR},
            DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
            COMMUNICATION_KEY = #{communicationKey,jdbcType=VARCHAR},
            COMMUNICATION_VALUE = #{communicationValue,jdbcType=DOUBLE},
            WARN_TIME = #{warnTime,jdbcType=TIMESTAMP},
            COMPANY_ID = #{companyId,jdbcType=BIGINT},
            DELETED = #{deleted,jdbcType=TINYINT},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{createBy,jdbcType=VARCHAR},
            MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 删除实体 -->
    <update id="delete" parameterType="com.zhiyun.entity.MathineNetworkWarnRecord">
        UPDATE MATHINE_NETWORK_WARN_RECORD
        SET DELETED     = #{deleted,jdbcType=VARCHAR},
            MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 查询字段 -->
    <sql id="selectFieldSQL">
        SELECT ID                  id,
               TASK_ID             taskId,
               CAT_NO              catNo,
               DEVICE_NO           deviceNo,
               COMMUNICATION_KEY   communicationKey,
               COMMUNICATION_VALUE communicationValue,
               WARN_TIME           warnTime,
               COMPANY_ID          companyId,
               DELETED             deleted,
               CREATE_TIME         createTime,
               MODIFY_TIME         modifyTime,
               CREATE_BY           createBy,
               MODIFY_BY           modifyBy
    </sql>

    <!-- 查询 -->
    <select id="get" parameterType="map" resultType="com.zhiyun.entity.MathineNetworkWarnRecord">
        <include refid="selectFieldSQL"/>
        FROM MATHINE_NETWORK_WARN_RECORD
        WHERE ID = #{id,jdbcType=INTEGER}
        AND DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 查询 -->
    <select id="find" parameterType="com.zhiyun.entity.MathineNetworkWarnRecord" resultType="com.zhiyun.entity.MathineNetworkWarnRecord">
        <include refid="selectFieldSQL"/>
        FROM MATHINE_NETWORK_WARN_RECORD
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="taskId != null">
                AND TASK_ID = #{taskId,jdbcType=BIGINT}
            </if>
            <if test="catNo != null and catNo != ''">
                AND CAT_NO = #{catNo,jdbcType=VARCHAR}
            </if>
            <if test="deviceNo != null and deviceNo != ''">
                AND DEVICE_NO = #{deviceNo,jdbcType=VARCHAR}
            </if>
            <if test="communicationKey != null and communicationKey != ''">
                AND COMMUNICATION_KEY = #{communicationKey,jdbcType=VARCHAR}
            </if>
            <if test="communicationValue != null">
                AND COMMUNICATION_VALUE = #{communicationValue,jdbcType=DOUBLE}
            </if>
            <if test="warnTime != null">
                AND WARN_TIME = #{warnTime,jdbcType=TIMESTAMP}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            <if test="deleted != null">
                AND DELETED = #{deleted,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <!-- 查询所有 -->
    <select id="findAll" parameterType="map" resultType="com.zhiyun.entity.MathineNetworkWarnRecord">
        <include refid="selectFieldSQL"/>
        FROM MATHINE_NETWORK_WARN_RECORD
        WHERE DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询（条件） -->
    <sql id="page_condition">
        <where>
            <if test="entity.taskId != null">
                AND TASK_ID = #{entity.taskId,jdbcType=BIGINT}
            </if>
            <if test="entity.catNo != null and entity.catNo != ''">
                AND CAT_NO = #{entity.catNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.deviceNo != null and entity.deviceNo != ''">
                AND DEVICE_NO = #{entity.deviceNo,jdbcType=VARCHAR}
            </if>
            <if test="entity.communicationKey != null and entity.communicationKey != ''">
                AND COMMUNICATION_KEY = #{entity.communicationKey,jdbcType=VARCHAR}
            </if>
            <if test="entity.communicationValue != null">
                AND COMMUNICATION_VALUE = #{entity.communicationValue,jdbcType=DOUBLE}
            </if>
            <if test="entity.warnTime != null">
                AND WARN_TIME = #{entity.warnTime,jdbcType=TIMESTAMP}
            </if>
            <if test="entity.companyId != null">
                AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
            </if>
            <if test="entity.deleted != null">
                AND DELETED = #{entity.deleted,jdbcType=TINYINT}
            </if>
        </where>
    </sql>

    <!-- 分页查询（计数） -->
    <select id="page_count" parameterType="map" resultType="int">
        SELECT count(*)
        FROM MATHINE_NETWORK_WARN_RECORD
        <include refid="page_condition"/>
    </select>

    <!-- 分页查询（数据） -->
    <select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.MathineNetworkWarnRecord">
        <include refid="mybatis.pageStartSQL"/>
        <include refid="selectFieldSQL"/>
        FROM MATHINE_NETWORK_WARN_RECORD
        <include refid="page_condition"/>
        <include refid="mybatis.pageEndSQL"/>
    </select>

    <!-- Map查询所有 -->
    <select id="findMapListAll" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM MATHINE_NETWORK_WARN_RECORD
        WHERE DELETED = "F"
    </select>

    <!-- Map条件查询 -->
    <select id="findMapList" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM MATHINE_NETWORK_WARN_RECORD
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="taskId != null">
                AND TASK_ID = #{taskId,jdbcType=BIGINT}
            </if>
            <if test="catNo != null and catNo != ''">
                AND CAT_NO = #{catNo,jdbcType=VARCHAR}
            </if>
            <if test="deviceNo != null and deviceNo != ''">
                AND DEVICE_NO = #{deviceNo,jdbcType=VARCHAR}
            </if>
            <if test="communicationKey != null and communicationKey != ''">
                AND COMMUNICATION_KEY = #{communicationKey,jdbcType=VARCHAR}
            </if>
            <if test="communicationValue != null">
                AND COMMUNICATION_VALUE = #{communicationValue,jdbcType=DOUBLE}
            </if>
            <if test="warnTime != null">
                AND WARN_TIME = #{warnTime,jdbcType=TIMESTAMP}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            <if test="deleted != null">
                AND DELETED = #{deleted,jdbcType=TINYINT}
            </if>
            WHERE DELETED = "F"
        </where>
    </select>

    <!-- 插入实体map -->
    <insert id="mapInsert" parameterType="map">
        INSERT INTO MATHINE_NETWORK_WARN_RECORD (
        ID,
        TASK_ID,
        CAT_NO,
        DEVICE_NO,
        COMMUNICATION_KEY,
        COMMUNICATION_VALUE,
        WARN_TIME,
        COMPANY_ID,
        DELETED,
        CREATE_TIME,
        MODIFY_TIME,
        CREATE_BY,
        MODIFY_BY
        ) VALUES (
        #{ id,jdbcType=BIGINT},
        #{ taskId,jdbcType=BIGINT},
        #{ catNo,jdbcType=VARCHAR},
        #{ deviceNo,jdbcType=VARCHAR},
        #{ communicationKey,jdbcType=VARCHAR},
        #{ communicationValue,jdbcType=DOUBLE},
        #{ warnTime,jdbcType=TIMESTAMP},
        #{ companyId,jdbcType=BIGINT},
        #{ deleted,jdbcType=TINYINT},
        #{ createTime,jdbcType=TIMESTAMP},
        #{ modifyTime,jdbcType=TIMESTAMP},
        #{ createBy,jdbcType=VARCHAR},
        #{ modifyBy,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_MATHINE_NETWORK_WARN_RECORD.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体Map -->
    <update id="mapUpdate" parameterType="map">
        UPDATE MATHINE_NETWORK_WARN_RECORD
        <set>
            <if test="taskId != null">
                TASK_ID = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="catNo != null">
                CAT_NO = #{catNo,jdbcType=VARCHAR},
            </if>
            <if test="deviceNo != null">
                DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
            </if>
            <if test="communicationKey != null">
                COMMUNICATION_KEY = #{communicationKey,jdbcType=VARCHAR},
            </if>
            <if test="communicationValue != null">
                COMMUNICATION_VALUE = #{communicationValue,jdbcType=DOUBLE},
            </if>
            <if test="warnTime != null">
                WARN_TIME = #{warnTime,jdbcType=TIMESTAMP},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

</mapper>   
