<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.SystemTaskDaoImpl">

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhiyun.entity.SystemTask">
        INSERT INTO SYSTEM_TASK (
        ID,
        AREA_NAME,
        STORE_NAME,
        START_SITE_ID,
        END_SITE_ID,
        IN_MARK,
        MATTER_TYPE,
        MATTER_NAME,
        AMOUNT,
        REQUEST_TIME,
        TASK_ID,
        COMPANY_ID,
        DELETED,
        CREATE_TIME,
        MODIFY_TIME,
        CREATE_BY,
        MODIFY_BY,
        IS_FINISHED
        ) VALUES (
        #{id,jdbcType=BIGINT},
        #{areaName,jdbcType=VARCHAR},
        #{storeName,jdbcType=VARCHAR},
        #{startSiteId,jdbcType=BIGINT},
        #{endSiteId,jdbcType=BIGINT},
        #{inMark,jdbcType=INTEGER},
        #{matterType,jdbcType=VARCHAR},
        #{matterName,jdbcType=VARCHAR},
        #{amount,jdbcType=INTEGER},
        #{requestTime,jdbcType=TIMESTAMP},
        #{taskId,jdbcType=BIGINT},
        #{companyId,jdbcType=BIGINT},
        #{deleted,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifyTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},
        #{modifyBy,jdbcType=VARCHAR},
        #{isFinished,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_SYSTEM_TASK.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhiyun.entity.SystemTask">
        UPDATE SYSTEM_TASK
        <set>
            <if test="areaName != null">
                AREA_NAME = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="storeName != null">
                STORE_NAME = #{storeName,jdbcType=VARCHAR},
            </if>
            <if test="startSiteId != null">
                START_SITE_ID = #{startSiteId,jdbcType=BIGINT},
            </if>
            <if test="endSiteId != null">
                END_SITE_ID = #{endSiteId,jdbcType=BIGINT},
            </if>
            <if test="inMark != null">
                IN_MARK = #{inMark,jdbcType=INTEGER},
            </if>
            <if test="matterType != null">
                MATTER_TYPE = #{matterType,jdbcType=VARCHAR},
            </if>
            <if test="matterName != null">
                MATTER_NAME = #{matterName,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                AMOUNT = #{amount,jdbcType=INTEGER},
            </if>
            <if test="requestTime != null">
                REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskId != null">
                TASK_ID = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="isFinished != null">
                IS_FINISHED = #{isFinished,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 更新实体 -->
    <update id="updateFields" parameterType="com.zhiyun.entity.SystemTask">
        UPDATE SYSTEM_TASK
        <set>
            AREA_NAME = #{areaName,jdbcType=VARCHAR},
            STORE_NAME = #{storeName,jdbcType=VARCHAR},
            START_SITE_ID = #{startSiteId,jdbcType=BIGINT},
            END_SITE_ID = #{endSiteId,jdbcType=BIGINT},
            IN_MARK = #{inMark,jdbcType=INTEGER},
            MATTER_TYPE = #{matterType,jdbcType=VARCHAR},
            MATTER_NAME = #{matterName,jdbcType=VARCHAR},
            AMOUNT = #{amount,jdbcType=INTEGER},
            REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP},
            TASK_ID = #{taskId,jdbcType=BIGINT},
            COMPANY_ID = #{companyId,jdbcType=BIGINT},
            DELETED = #{deleted,jdbcType=VARCHAR},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            CREATE_BY = #{createBy,jdbcType=VARCHAR},
            MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            IS_FINISHED = #{isFinished,jdbcType=VARCHAR},
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 删除实体 -->
    <update id="delete" parameterType="com.zhiyun.entity.SystemTask">
        UPDATE SYSTEM_TASK
        SET DELETED     = #{deleted,jdbcType=VARCHAR},
            MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

    <!-- 查询字段 -->
    <sql id="selectFieldSQL">
        SELECT ID            id,
               AREA_NAME     areaName,
               STORE_NAME    storeName,
               START_SITE_ID startSiteId,
               END_SITE_ID   endSiteId,
               IN_MARK       inMark,
               MATTER_TYPE   matterType,
               MATTER_NAME   matterName,
               AMOUNT        amount,
               REQUEST_TIME  requestTime,
               TASK_ID       taskId,
               COMPANY_ID    companyId,
               DELETED       deleted,
               CREATE_TIME   createTime,
               MODIFY_TIME   modifyTime,
               CREATE_BY     createBy,
               MODIFY_BY     modifyBy,
               IS_FINISHED   isFinished
    </sql>

    <!-- 查询 -->
    <select id="get" parameterType="map" resultType="com.zhiyun.entity.SystemTask">
        <include refid="selectFieldSQL"/>
        FROM SYSTEM_TASK
        WHERE ID = #{id,jdbcType=INTEGER}
        AND DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 查询 -->
    <select id="find" parameterType="com.zhiyun.entity.SystemTask" resultType="com.zhiyun.entity.SystemTask">
        <include refid="selectFieldSQL"/>
        FROM SYSTEM_TASK
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="areaName != null and areaName != ''">
                AND AREA_NAME = #{areaName,jdbcType=VARCHAR}
            </if>
            <if test="storeName != null and storeName != ''">
                AND STORE_NAME = #{storeName,jdbcType=VARCHAR}
            </if>
            <if test="startSiteId != null">
                AND START_SITE_ID = #{startSiteId,jdbcType=BIGINT}
            </if>
            <if test="endSiteId != null">
                AND END_SITE_ID = #{endSiteId,jdbcType=BIGINT}
            </if>
            <if test="inMark != null">
                AND IN_MARK = #{inMark,jdbcType=INTEGER}
            </if>
            <if test="matterType != null and matterType != ''">
                AND MATTER_TYPE = #{matterType,jdbcType=VARCHAR}
            </if>
            <if test="matterName != null and matterName != ''">
                AND MATTER_NAME = #{matterName,jdbcType=VARCHAR}
            </if>
            <if test="amount != null">
                AND AMOUNT = #{amount,jdbcType=INTEGER}
            </if>
            <if test="requestTime != null">
                AND REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP}
            </if>
            <if test="taskId != null">
                AND TASK_ID = #{taskId,jdbcType=BIGINT}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
            <if test="isFinished != null and isFinished != ''">
                AND IS_FINISHED = #{isFinished,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 查询所有 -->
    <select id="findAll" parameterType="map" resultType="com.zhiyun.entity.SystemTask">
        <include refid="selectFieldSQL"/>
        FROM SYSTEM_TASK
        WHERE DELETED = #{deleted,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询（条件） -->
    <sql id="page_condition">
        <where>
            <if test="entity.areaName != null and entity.areaName != ''">
                AND AREA_NAME = #{entity.areaName,jdbcType=VARCHAR}
            </if>
            <if test="entity.storeName != null and entity.storeName != ''">
                AND STORE_NAME = #{entity.storeName,jdbcType=VARCHAR}
            </if>
            <if test="entity.startSiteId != null">
                AND START_SITE_ID = #{entity.startSiteId,jdbcType=BIGINT}
            </if>
            <if test="entity.endSiteId != null">
                AND END_SITE_ID = #{entity.endSiteId,jdbcType=BIGINT}
            </if>
            <if test="entity.inMark != null">
                AND IN_MARK = #{entity.inMark,jdbcType=INTEGER}
            </if>
            <if test="entity.matterType != null and entity.matterType != ''">
                AND MATTER_TYPE = #{entity.matterType,jdbcType=VARCHAR}
            </if>
            <if test="entity.matterName != null and entity.matterName != ''">
                AND MATTER_NAME = #{entity.matterName,jdbcType=VARCHAR}
            </if>
            <if test="entity.amount != null">
                AND AMOUNT = #{entity.amount,jdbcType=INTEGER}
            </if>
            <if test="entity.requestTime != null">
                AND REQUEST_TIME = #{entity.requestTime,jdbcType=TIMESTAMP}
            </if>
            <if test="entity.taskId != null">
                AND TASK_ID = #{entity.taskId,jdbcType=BIGINT}
            </if>
            <if test="entity.companyId != null">
                AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
            </if>
            <if test="entity.deleted != null and entity.deleted != ''">
                AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
            </if>
            <if test="entity.isFinished != null and entity.isFinished != ''">
                AND IS_FINISHED = #{entity.isFinished,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <!-- 分页查询（计数） -->
    <select id="page_count" parameterType="map" resultType="int">
        SELECT count(*)
        FROM SYSTEM_TASK
        <include refid="page_condition"/>
    </select>

    <!-- 分页查询（数据） -->
    <select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.SystemTask">
        <include refid="mybatis.pageStartSQL"/>
        <include refid="selectFieldSQL"/>
        FROM SYSTEM_TASK
        <include refid="page_condition"/>
        <include refid="mybatis.pageEndSQL"/>
    </select>

    <!-- Map查询所有 -->
    <select id="findMapListAll" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM SYSTEM_TASK
        WHERE DELETED = "F"
    </select>

    <!-- Map条件查询 -->
    <select id="findMapList" parameterType="map" resultType="map">
        <include refid="selectFieldSQL"/>
        FROM SYSTEM_TASK
        <where>
            <if test="id != null">
                AND ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="areaName != null and areaName != ''">
                AND AREA_NAME = #{areaName,jdbcType=VARCHAR}
            </if>
            <if test="storeName != null and storeName != ''">
                AND STORE_NAME = #{storeName,jdbcType=VARCHAR}
            </if>
            <if test="startSiteId != null">
                AND START_SITE_ID = #{startSiteId,jdbcType=BIGINT}
            </if>
            <if test="endSiteId != null">
                AND END_SITE_ID = #{endSiteId,jdbcType=BIGINT}
            </if>
            <if test="inMark != null">
                AND IN_MARK = #{inMark,jdbcType=INTEGER}
            </if>
            <if test="matterType != null and matterType != ''">
                AND MATTER_TYPE = #{matterType,jdbcType=VARCHAR}
            </if>
            <if test="matterName != null and matterName != ''">
                AND MATTER_NAME = #{matterName,jdbcType=VARCHAR}
            </if>
            <if test="amount != null">
                AND AMOUNT = #{amount,jdbcType=INTEGER}
            </if>
            <if test="requestTime != null">
                AND REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP}
            </if>
            <if test="taskId != null">
                AND TASK_ID = #{taskId,jdbcType=BIGINT}
            </if>
            <if test="companyId != null">
                AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
            </if>
            <if test="deleted != null and deleted != ''">
                AND DELETED = #{deleted,jdbcType=VARCHAR}
            </if>
            <if test="isFinished != null and isFinished != ''">
                AND IS_FINISHED = #{isFinished,jdbcType=VARCHAR}
            </if>
            WHERE DELETED = "F"
        </where>
    </select>

    <!-- 插入实体map -->
    <insert id="mapInsert" parameterType="map">
        INSERT INTO SYSTEM_TASK (
        ID,
        AREA_NAME,
        STORE_NAME,
        START_SITE_ID,
        END_SITE_ID,
        IN_MARK,
        MATTER_TYPE,
        MATTER_NAME,
        AMOUNT,
        REQUEST_TIME,
        TASK_ID,
        COMPANY_ID,
        DELETED,
        CREATE_TIME,
        MODIFY_TIME,
        CREATE_BY,
        MODIFY_BY,
        IS_FINISHED
        ) VALUES (
        #{ id,jdbcType=BIGINT},
        #{ areaName,jdbcType=VARCHAR},
        #{ storeName,jdbcType=VARCHAR},
        #{ startSiteId,jdbcType=BIGINT},
        #{ endSiteId,jdbcType=BIGINT},
        #{ inMark,jdbcType=INTEGER},
        #{ matterType,jdbcType=VARCHAR},
        #{ matterName,jdbcType=VARCHAR},
        #{ amount,jdbcType=INTEGER},
        #{ requestTime,jdbcType=TIMESTAMP},
        #{ taskId,jdbcType=BIGINT},
        #{ companyId,jdbcType=BIGINT},
        #{ deleted,jdbcType=VARCHAR},
        #{ createTime,jdbcType=TIMESTAMP},
        #{ modifyTime,jdbcType=TIMESTAMP},
        #{ createBy,jdbcType=VARCHAR},
        #{ modifyBy,jdbcType=VARCHAR},
        #{ isFinished,jdbcType=VARCHAR}
        )
        <selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        <selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_SYSTEM_TASK.nextval as id FROM dual
        </selectKey>
    </insert>

    <!-- 更新实体Map -->
    <update id="mapUpdate" parameterType="map">
        UPDATE SYSTEM_TASK
        <set>
            <if test="areaName != null">
                AREA_NAME = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="storeName != null">
                STORE_NAME = #{storeName,jdbcType=VARCHAR},
            </if>
            <if test="startSiteId != null">
                START_SITE_ID = #{startSiteId,jdbcType=BIGINT},
            </if>
            <if test="endSiteId != null">
                END_SITE_ID = #{endSiteId,jdbcType=BIGINT},
            </if>
            <if test="inMark != null">
                IN_MARK = #{inMark,jdbcType=INTEGER},
            </if>
            <if test="matterType != null">
                MATTER_TYPE = #{matterType,jdbcType=VARCHAR},
            </if>
            <if test="matterName != null">
                MATTER_NAME = #{matterName,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                AMOUNT = #{amount,jdbcType=INTEGER},
            </if>
            <if test="requestTime != null">
                REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskId != null">
                TASK_ID = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="isFinished != null">
                IS_FINISHED = #{isFinished,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>

</mapper>   
